[2020-07-20 16:13] kbergin opened #6 "Streamlining the implementation, updating, and (re-)running of pipelines in multiple centers #279"
[Transferring from skylab/279](https://github.com/HumanCellAtlas/skylab/issues/279) cc @LisaSikkema

Dear HCA developers team,

I'm part of the Lung HCA team in the lab of Fabian Theis, and we are trying to think of the best way to synchronize, implement, run and re-run a fastq-->count matrix pipeline in all the computatonial labs involved in the EU-part of the lung-HCA. Please let me know if this

[2020-07-20 16:15] kbergin opened #7 "Can't access /usr/picard/picard.jar when using singularity Skylab #286"
[Transferring from skylab/286](https://github.com/HumanCellAtlas/skylab/issues/286) cc @evan-wehi

Optimus.wdl fails with the following error:

[First 300 bytes]:Error: Unable to access jarfile /usr/picard/picard.jar
when running this task: https://github.com/HumanCellAtlas/skylab/blob/master/library/tasks/FastqToUBam.wdl

The reason seems to be that, in the docker image, the file is only readable

[2020-10-29 17:59] bshifaw opened #129 "Missing BAM indexes causes pipeline failure during sharded BQSR"
From pull request in the gatk-workflows org [here](https://github.com/gatk-workflows/gatk4-exome-analysis-pipeline/pull/18). The exome pipeline lacks index variables for some of the bam files causing it to fail on Singularity backend. Adding an index file along with the BAM file will fix the issue

[2020-10-30 12:10] matthdsm opened #131 "workflow request: demultiplexing using picard"
Hi,

I don't know if there's a lot of interest from the community for this, but I'm wondering if you could put up your take on a demultiplexing workflow?

We're currently developing this on our own, but it'd be great to learn from the masters so we get it right from the get go.

Thanks
M

[2020-11-29 18:52] exander77 commented on #129
Can confirm.
Seems like there is a missing code in SortSam:
` samtools index ~{output_bam_basename}.bam ~{output_bam_basename}.bai`

[2020-11-29 22:21] exander77 commented on #129
And the index needs to be passed around as well.

[2020-11-29 22:23] exander77 opened #156 "Wrong import path..."
Why is this project so riddled with bugs?
[code]

[2020-12-16 18:43] kbergin commented on #156
Hi @exander77 thank you for filing this bug! I'm sorry I didn't see the issue sooner. We will work on fixing this asap, and early in the new year we will install a wdl validator to avoid bugs like this in the future. Our tests flatten the imports before running, so they didn't catch this.

[2020-12-16 18:46] kbergin commented on #131
Hi @matthdsm - I apologize I didn't see this issue sooner. We currently do our demultiplexing in an on prem legacy system, so we don't have a cloud workflow yet. However, a collaborator uses this workflow for demultiplexing, I hope it helps! https://dockstore.org/workflows/github.com/broadinstitute/viral-pipelines/demux_only:master?tab=info

[2020-12-16 18:51] jennydaman commented on #156
Is it possible for the patch to be backported to the `ExomeGermlineSingleSample_v2.2.0` tag? Currently this bug prevents it from being imported into Terra.

[2020-12-16 20:22] exander77 commented on #129
Seems some tools call is not needed, just to pass indexes around.

[2020-12-17 06:45] matthdsm commented on #131
wow, this is great, thanks!

M

[2020-12-17 06:45] #131 closed

[2020-12-17 16:39] kbergin commented on #156
This will be fixed in https://github.com/broadinstitute/warp/pull/172 and released to dev soon. We'll then work on cutting official releases, which will be minor or patch bumps to the version numbers depending on the workflow. I will follow up here when these are on develop, released, and in Terra.

[2020-12-17 22:13] kbergin commented on #131
Just wanted to extend that thanks to @dpark01 - Thank you, Danny, for creating public resources for the WDL community!

[2020-12-29 07:20] chadisaad opened #183 "Default reference file"
Why using the GRCH38+alt  reference fasta instead of HG38 **analysis set** . Isn't a problem for PAR regions ?

[2021-01-05 21:10] exander77 commented on #156
I have fixed it in my code and I can try after it is fixed.

[2021-01-05 21:11] exander77 commented on #129
Why is this not fixed? I used a fix from @bshifaw. It works and I suggest pulling it.

[2021-01-05 21:30] sophiacrennan commented on #129
I have created a PR for the fix [here](https://github.com/broadinstitute/warp/pull/179). Since the PR is slightly different than the PR made in gatk-workflows, I've been trying to set up singularity on my computer to test it out but I am having difficulties. @exander77 would you mind making sure the WARP PR fixes the problem you encountered? If its all good, then I can merge it up.

[2021-01-05 21:45] exander77 commented on #129
@sophiacrennan I have it working fine, so I can make a PR. I updated to head of developed:
https://github.com/broadinstitute/warp/pull/189/commits

[2021-01-05 22:01] kbergin commented on #183
Hi @chadisaad -

Thanks for your question, apologies for the delay, we were on holiday break! I'm cc'ing in a few folks to help. @yfarjoun @ekiernan would either of you be familiar with this?

Best,
Kylee

[2021-01-05 22:23] yfarjoun commented on #183
At the time, we didn't think of PAR and the advice (from Heng Li)to  the Functional Equivalence group was to use this reference. as we start analysing chrX and chrY, this might be a problem.....

[2021-01-06 16:54] kbergin commented on #183
Thank you, Yossi!

For this time, we will be continuing to adhere to Functional Equivalence (more info here in a [blog post](https://github.com/broadinstitute/gatk-docs/blob/master/blog-2012-to-2019/2018-02-09-Batch_effects_begone:_Introducing_the_Functional_Equivalence_data_processing_pipeline_spec.md), [spec](https://github.com/CCDG/Pipeline-Standardization/blob/master/PipelineStandard.md), [nat

[2021-01-06 16:54] #183 closed

[2021-01-08 18:21] kbergin commented on #129
This has been resolved and merged in https://github.com/broadinstitute/warp/pull/179

[2021-01-08 18:21] #129 closed

[2021-01-11 12:58] exander77 opened #198 "Why is history such a mess?"
![Screenshot_2021-01-11_13-56-31](https://user-images.githubusercontent.com/2256039/104185283-0c291f00-5415-11eb-8723-f7d26f181795.png)

[2021-01-11 13:15] exander77 opened #199 "[WholeGenomeGermlineSingleSample] Strange behaviour change after update"
I updated a few days back to the latest `develop`:
Previously, the workflow result was:
`1,5G	sampleA.g.vcf.gz`

Now it is:
`6,7G	sampleB.g.vcf.gz`

It is still running, but 6,7GB seem way too much.

The partial `vcf.gz` files are larger as well.

[2021-01-11 16:09] kbergin opened #200 "test slack integration"

[2021-01-12 16:47] gbggrant commented on #199
HI @exander77 could you give a bit more context about what you are seeing?  What was the previous develop version you were using? (either a commit hash, or a time estimate might help).  We routinely test with a variety of test samples and have not seen significant changes in the outputs recently.
Also, we would recommend you pull the released workflows from: https://github.com/broadinstitute/warp/

[2021-01-12 16:51] gbggrant commented on #198
Hi @exander77 - I'm not familiar with the tool that you are using here.  I generally use github's network tool to inspect history: https://github.com/broadinstitute/warp/network - And as I mentioned in the other issue, looking at the master branch (which is where released pipelines are) is probably more appropriate than develop.

[2021-01-12 16:54] exander77 commented on #198
@gbggrant This is standard gitk (it is part of the git itself). It is very hard to navigate in the project as branches are merged together a lot. I may try to use the master.

[2021-01-12 16:55] exander77 commented on #199
@gbggrant I checked against the previous version, and nothing seems related.

I am thinking it may be the data. The number of SNPs is similar in both samples, so maybe quality differed widely and regions didn't get merged. But the disparity between those files is huge.

![comparison](https://user-images.githubusercontent.com/2256039/104346104-538bda00-54ff-11eb-854e-b6895de38802.png)

[2021-01-12 20:42] #198 closed

[2021-01-12 20:43] kbergin commented on #156
Hi all, the latest releases here https://github.com/broadinstitute/warp/releases/tag/WholeGenomeGermlineSingleSample_v2.3.1 and https://github.com/broadinstitute/warp/releases/tag/ExomeGermlineSingleSample_v2.4.1 have this bug fixed. We will push them to Terra soon.

[2021-01-12 20:43] #156 closed

[2021-01-14 15:09] diegomscoelho opened #203 "CheckContamination task with NA output"
Hi there,

I've been using broadinstitute WES genotyping pipeline for a year now. I got an odd problem a few times:

row["FREEMIX"] = NaN in CheckContamination task [here](https://github.com/broadinstitute/warp/blob/5ab83cbc165ec535a7081e907c7dce19136eca10/tasks/broad/BamProcessing.wdl#L487). Basically, `Float contamination = read_float(stdout())` breaks because output is NaN.

PS.: row["FREELK1"]

[2021-01-14 16:21] kbergin commented on #203
Hi Diego - thank you for filing this issue! I think we've seen this error before as well and I thought we had put in a fix for it - @gbggrant do you recall?

What version of the pipeline are you using when you see this error?

[2021-01-14 16:42] diegomscoelho commented on #203
Hi again,

I'm using this docker image:
us.gcr.io/broad-gotc-prod/verify-bam-id:c8a66425c312e5f8be46ab0c41f8d7a1942b6e16-1500298351
I saw it has two newer docker version in your repo [here](https://console.cloud.google.com/gcr/images/broad-gotc-prod/US/verify-bam-id?gcrImageListsize=30). I will try with this newer version and report if our problem goes away.

[2021-01-14 18:20] diegomscoelho commented on #203
Hi @kbergin,

The newest version worked just fine. I only need to add `--DisableSanityCheck`.

Thanks!

[2021-01-14 20:09] kbergin commented on #203
Excellent news! We sometimes have to disable sanity check when we run this pipeline in production, though it typically only comes up if the data doesn't have enough coverage over the SNPs used to make the contamination resources.

[2021-01-14 20:09] #203 closed

[2021-02-03 15:45] bshifaw opened #221 "Remove deprecated Paired_Run arg from MergeBamAlignment"
**Problem:**
[MergeBamAlignment](https://github.com/broadinstitute/warp/blob/041a85bf2a3efe2e83f0f7c3bd08d44ebd1866b4/tasks/broad/Alignment.wdl#L83) is using a deprecated argument called `Paired_Run`. Source [forum thread](https://gatk.broadinstitute.org/hc/en-us/community/posts/360076413951-Hg38-RNAseq-germline-variant-calling-BQSR-steps?page=1#community_comment_360014206472).

The `SamToFastqAnd

[2021-02-18 20:28] kbergin commented on #221
Thank you for filing this, Beri, I'll note this in our backlog.

[2021-02-18 20:32] kbergin commented on #199
Closing this given it seems like something about the data not the pipeline update. Thanks!

[2021-02-18 20:32] #199 closed

[2021-02-22 19:54] gevro opened #246 "ATTRIBUTES_TO_REMOVE=NM"
Hi,
Why is ATTRIBUTES_TO_REMOVE=NM used in the Alignment.wdl, SamToFastqAndBwaMemAndMba task?

Some downstream tools require the NM tag... it's not clear why this is being removed.
Thanks.

[2021-02-22 22:10] kbergin commented on #246
Hi @gevro Thanks for filing your question!

We remove the NM tag in the WDL you referenced because after alignment, `MergeBamAlignment` updates the alignments (soft clipping adjustments, for example) and thus the NM tags aren't guaranteed to be correct after this step. We suspect the reason we did not run the tool `SetNmMdAndUqTags` after this step to add the NM tags back is because it needs coord

[2021-02-22 22:19] gevro commented on #246
That's interesting, because there's actually a gatk best practices workflow that incorporates it with the SortSam step by piping from there into SetNmMdAndUqTags. That would be an easy fix. I'm not sure why this was in one best practices workflow but lost from others.
https://github.com/gatk-workflows/gatk4-data-processing/blob/98d5de7039a963b187c905ff7b1b18c8525489ed/processing-for-variant-discov

[2021-02-22 22:25] yfarjoun commented on #246
IINM, the tag is removed anyhow in the cram compression, and so there's was no reason to add it.

[2021-02-22 22:33] gevro commented on #246
Many downstream tools are not compatible with CRAM, so additional BAM output with NM tag might still be useful in my opinion. Or as an option at least.

[2021-02-25 11:09] ana-stankovic opened #250 "ExomeGermlineSingleSample_v2.4.1 - docker used in MarkDuplicatesSpark"
Hello,
The MarkDuplicatesSpark step in BamProcessing.wdl of the ExomeGermlineSingleSample_v2.4.1 uses the [`jamesemery/gatknightly:gatkMasterSnapshot44ca2e9e84a`](https://hub.docker.com/layers/jamesemery/gatknightly/gatkMasterSnapshot44ca2e9e84a/images/sha256-55d1b4048c812e658a159cf17d20aa095104a5109f12a659c6238542529c621b?context=explore) docker.
This is the only tool that uses this docker, while

[2021-02-25 18:59] gbggrant commented on #250
Hi @ana-stankovic thanks for pointing that out.  I can look into that further, but I'm pretty sure that was a task that was added for testing purposes and hasn't been used / acted upon in a while.  That task is not called in the pipeline.

[2021-03-16 23:04] exander77 opened #266 "MarkDuplicatesSpark usage"
MarkDuplicates seems to be the speed bottleneck. Is there a reason MarkDuplicatesSpark is not used?

[2021-03-18 12:28] exander77 commented on #250
@gbggrant I created a different issue with the question of why is not Spark (or a different parallel implementation) used?
https://github.com/broadinstitute/warp/issues/266
Is there a reason for it? This seems to be a major bottleneck.

[2021-03-25 01:19] leipzig opened #271 "test files inaccessible"
hi can you either replace these 3 files with open versions (gs://broad-public-datasets seems to have them?) or make them public? thx
https://github.com/broadinstitute/warp/blob/develop/pipelines/broad/dna_seq/germline/single_sample/wgs/input_files/WholeGenomeGermlineSingleSample.inputs.plumbing.json#L6-L8

[2021-03-25 14:21] kbergin commented on #266
Hi @exander77 - We are looking into this. We did test this out a couple years ago but we don't remember what issues we ran into (just that we ran into issues!)

[2021-03-25 16:06] kbergin commented on #271
Hi @leipzig - thanks for pointing this out! We are definitely keen to have all of our test data be public (whenever data permissions allow!). I'm running our tests now to confirm that these are in fact the exact same input files, given they have the same names it seems likely! https://github.com/broadinstitute/warp/pull/272

[2021-03-31 15:44] kbergin commented on #266
Hi @exander77 -

Our team did some testing of the MarkDuplicatesSpark tool when it was developed, and at the time it was shown to reduce wallclock time and cost on sufficiently large files when run in GCP.

There are a couple gotchas that make it a bit more complicated - the tool has very particular resource requirements around fast local temp storage space. We primarily run these pipelines on GCP

[2021-03-31 15:54] exander77 commented on #266
@kbergin If this Spark-based implementation is that problematic, would not be better to revisit Picards parallel implementation from this PR: https://github.com/broadinstitute/picard/pull/1036
Because this was a drop-in replacement for the original MarkDuplicates and for some reason it was dropped because of Spark-based implementation in 2018.

[2021-03-31 16:06] kbergin commented on #250
Hi @ana-stankovic and @exander77 - I responded regarding MDSpark on #266 . We will clean up this task in BamProcessing for now and consider adding MDSpark for large sample processing in the future. It's likely that it would be most useful for high coverage genomes. At that time we will definitely use the published dockers.

[2021-03-31 16:06] #250 closed

[2021-03-31 17:16] exander77 commented on #266
@kbergin I thought that the PR was great. I think that either Spark or this should be somehow incorporated, maybe that PR could be merged with the IO management as well to get even better results.

I am running Warp on 64 threads VPS and MarkDuplicates takes a really long time and does not use the resources available.

[2021-04-02 19:45] kbergin commented on #271
Hi @leipzig - This specific example has been updated with the close of #272 . It's on develop for now and will make its way up to master soon.

We will revisit our test inputs in general as well to look for opportunities to use public test data. Thanks for submitting an issue and let us know if you have other feedback!

[2021-04-06 12:23] leipzig opened #279 "plumbing tests fail on the verifybamid"
I am seeing the `Required file output '/cromwell_root/NA12878_PLUMBING.preBqsr.selfSM' does not exist.` with the running the WholeGenomeGermlineSingleSample plumbing test set

this seems to be an old issue:
https://github.com/gatk-workflows/five-dollar-genome-analysis-pipeline/issues/25

https://sites.google.com/a/broadinstitute.org/legacy-gatk-forum-discussions/2020-01-07-2019-07-10/24408-bug-in-

[2021-04-16 09:34] plijnzaad opened #283 "optimus pipeline: fastqprocess running out of memory because of whitelist?"
Dear all,

we are trying to get the optimus pipeline running with Singularity on our local HPC. The process kept running out of memory, and it turns out that the whitelist is the culprit: the 6.8 M lines that are present in the latest version ( 3M-february-2018.txt.gz; see https://github.com/10XGenomics/cellranger/tree/master/lib/python/cellranger/barcodes ) seem to be too much for `fastqprocess`.

[2021-04-16 10:08] plijnzaad commented on #283
For completeness sake, we were using Singularity images created from this docker image:
docker://quay.io/humancellatlas/secondary-analysis-sctools@sha256:bf70bbdb166edc857875899209c620f709b4a9a2570b2cad4abb419926a258f8

[2021-04-16 10:11] plijnzaad commented on #283
And just another datapoint: the 3M-february-2018.txt.gz file is a two-column file, each containing the exact same 6794880 unique barcodes ( but in different order). We now ran fastqprocess with just the first column and it did run to completion and with reasonable output  (~ 30% barcodes were corrected;  2% uncorrectable).  Does this make sense?

[2021-04-26 19:56] kbergin commented on #279
Hi Jeremy,

Thanks for calling that to our attention. We'll consider updating our plumbing data to better cover the contamination sites in the future, but for now we recommend adding this input to your input json which will cause the pipeline to ignore when there are insufficient markers covered for contamination calculation.

https://github.com/broadinstitute/warp/blob/3d974069dcf42b37ba7aafc23ad

[2021-04-26 19:56] #279 closed

[2021-04-26 19:58] kbergin commented on #283
Hi @plijnzaad apologies for the delay in getting back to you! I've asked my team to review your question and we'll respond here.

[2021-04-26 20:59] kishorikonwar commented on #283
@plijnzaad  Those stats for the barcodes seem to be in the right range.

[2021-04-27 14:22] plijnzaad commented on #283
Thanks for checking this. I just checked and there are in fact two files called 3M-february-2018.txt, one in
https://github.com/10XGenomics/cellranger/tree/master/lib/python/cellranger/barcodes/translation  (has 2 columns, see above) and one in https://github.com/10XGenomics/cellranger/tree/master/lib/python/cellranger/barcodes (which has the exact same barcodes). I guess we used the wrong (2-colu

[2021-04-27 19:04] leipzig commented on #271
Hi Kylee,
The call-CheckFingerprint step is trying to fetch:
`gs://broad-gotc-test-storage/single_sample/plumbing/bams/G96830.NA12878/G96830.NA12878.hg38.reference.fingerprint.vcf.gz`

which is also unavailable

[2021-04-28 17:57] leipzig commented on #271
I tried to swap in `gs://dsde-data-na12878-public/NA12878.hg38.reference.fingerprint.vcf` from $5 genome but that turned out not to be a great idea as the sample names do not match up

[2021-04-28 18:37] kbergin commented on #271
Hi @leipzig -

So our pipeline supports this concept of [fingerprinting](https://gatk.broadinstitute.org/hc/en-us/articles/360041696232-Detecting-sample-swaps-with-Picard-tools), where a user could run an array or sequencing over specific fingerprint snps and then use that to compare to the full sequencing reads and determine if any sample swaps occurred in the lab. I'm not sure how many users hav

[2021-04-29 11:09] leipzig commented on #271
Thanks, that did work once i renamed the sample in `gs://dsde-data-na12878-public/NA12878.hg38.reference.fingerprint.vcf` to `NA12878 PLUMBING`

[2021-05-06 22:49] kbergin commented on #283
Thank you for those notes @plijnzaad ! That's very helpful. I will close this for now and note those improvements in our backlog.

[2021-05-06 22:49] #283 closed

[2021-05-06 22:52] kbergin commented on #6
Closing due to inactivity. Generally we do not run pipelines on data we don't have access to.

Lisa, I hope you've found a solution at this point, but if you have not feel free to reopen and let us know if you have new questions you think we might have ideas about!

[2021-05-06 22:52] #6 closed

[2021-05-24 21:05] bshifaw opened #305 "Describe fingerprint_genotypes input in Readme"
**Problem**
The workflow test input for WholeGenomeGermlineSingleSample currently [lists](https://github.com/broadinstitute/warp/blob/20dbe7e7c602c116203523055da3399dbee9b399/pipelines/broad/dna_seq/germline/single_sample/wgs/input_files/WholeGenomeGermlineSingleSample.inputs.plumbing.json#L49) `gs://...G96830.NA12878.hg38.reference.fingerprint.vcf.gz `for `fingerprint_genotypes_file`. However the

[2021-05-24 21:13] kbergin commented on #305
Thanks for pointing that out, Beri. @gbggrant and @ekiernan thoughts on this input example? We have test inputs folder that has to have that file as an input to properly test the pipeline. But this folder is the input_example, do we want to maintain separate input examples vs test input examples? Is documentation updates all we want here or do we want to remove that file as an input in the input e

[2021-05-24 21:20] ekiernan commented on #305
@kbergin Yes, I think we had plans to clean up the example inputs folder: https://broadinstitute.atlassian.net/jira/software/projects/GL/boards/528?selectedIssue=GL-1525

Then we can't point users to the example inputs and add a clarification about the Fingerprint input in the WGS Overview in the WARP docs.

[2021-05-25 14:12] kbergin commented on #305
Great, thank you for the link. I'll get that prioritized.

[2021-05-25 16:06] kbergin commented on #221
@kachulis Do you know if we can just remove this parameter without causing any issues? Is there another parameter we're supposed to use instead? This would impact both Genome and Exome pipelines.

[2021-05-25 16:26] kachulis commented on #221
@kbergin that argument is completely ignored in the source code, so can safely be removed from the calling tasks.

[2021-06-02 15:02] #221 closed

[2021-06-25 19:31] jdidion opened #341 "Invalid type coercion in JointGenotyping.wdl"
At line 368, an `Array[String]` is assigned to a variable of type `Array[Int]`:

`Array[Int] fingerprinting_indices = GetFingerprintingIntervalIndices.indices_to_fingerprint`

According to the WDL specification, this is an invalid type coercion. Instead, in the `GetFingerprintingIntervalIndices` task, change the output type of `indices_to_fingerprint` from `Array[String]` to `Array[Int]`. Immediat

[2021-06-27 14:57] jjfarrell opened #342 "Non-public intervals files referenced in joint-genotyping json file"
In this json file: `warp/pipelines/broad/dna_seq/germline/joint_genotyping/by_chromosome/wgs/JointGenotypingByChromosomePartOne.template.input.json`

The following file appears private not accessible for non broad users:

`"JointGenotypingByChromosomePartOne.unpadded_intervals_file": "gs://broad-gotc-prod-storage/joint_genotyping/intervals/hg38.even.handcurated.20k.{CHROMOSOME}.intervals",`

unlik

[2021-06-28 20:27] kbergin commented on #341
Hi John,

Thank you for calling this to our attention. We agree it's a bit unclear to do this and that the spec says it's invalid. It's interesting because it works in the environments we run in, and the wdl validation and linters we use (womtool and miniwdl) haven't chirped up about it!

Is this invalid type coercion preventing you from using this WDL in another environment?

[2021-06-28 20:32] jdidion commented on #341
The WDL specification (all versions, but see 1.1 for greatest clarity) states which automatic type coercions are valid. `String` -> `Int` is not one of them. I believe miniwdl allows this because Cromwell does, and people expect it to work everywhere if it works in Cromwell. I am hoping we can shift to adhering the spec rather than to Cromwell behavior.

Regarding your second question - `wdlTools`

[2021-06-29 15:56] kbergin commented on #341
Thank you for clarifying that! We will plan on updating this in the pipeline.

[2021-07-02 20:45] jamespeapen opened #349 "ExomeGermlineSingleSample hangs after running callConvertToCram"
When running the ExomeGermlineSingleSample, cromwell seems to hang after creating the bam file and does not continue to make the gvcf.

[code]

The execution hangs at this step without any errors and does not appear to start the call-BamToGvcf step. The created bam is tested by call-ValidateBam and there are no errors found.

[code]
[code]
The folder in `cromwell-executions` for call-BamtoGvcf has

[2021-07-26 01:09] varikmp opened #370 "GroupQCs command not found"
Hello team,

I have been trying to execute the script https://github.com/broadinstitute/warp/blob/develop/pipelines/skylab/smartseq2_single_sample/SmartSeq2SingleSample.wdl that is depending on another one https://github.com/broadinstitute/warp/blob/develop/tasks/skylab/LoomUtils.wdl. Unfortunately, I could not find the command GroupQCs in the file on line 248. Is there any documentation for that

[2021-07-26 12:33] jessicaway commented on #370
Hello @varikmp,

Thanks for reaching out, we are happy to help!

The `GroupQCs` command is an sctools command. The definition can be found in the sctools repo [(linked here)](https://github.com/HumanCellAtlas/sctools/blob/65ac1a00146950cf789cfcd9aed8632b6725c879/src/sctools/platform.py#L519).

If you can tell us a little more about how you are running the pipeline, we might be able to offer some a

[2021-07-28 23:05] kbergin commented on #342
Hello @jjfarrell ! I am so sorry I missed your issue until now.

We will file an issue to update those template inputs to point to public files, but in the meantime I am attaching the interval lists to this issue as that's the fastest way to get them to you!

Generally I wanted to mention that we are going to be releasing a new update to the Joint Calling pipeline this fall that should make it mor

[2021-07-30 01:05] varikmp commented on #370
Hello @jessicaway,

Thank you so much for your respond.

I had sctools installed, and I can now use the GroupQCs command.

I am currently using docker-based commands to execute the pipeline above.

[2021-07-30 01:05] #370 closed

[2021-07-30 15:01] jjfarrell commented on #342
Thanks for updating that.

We are running the joint-call set on a linux HPCC system that uses sge. The initial set of crams is 2000 samples and eventually 4000 crams.

In the new version to be released, what will be making it more scalable? From our runs, the memory requirements for even  one chromosome (80-100 GB) seems excessive  when just running it on a very small interval. This  makes it diff

[2021-07-30 16:55] kbergin commented on #342
Ah, the new version will be taking advantage of Big Query to help scale and reduce the cost of joint calling in the cloud. Unfortunately I don't think any of the changes in that pipeline will help with running it on SGE.

It looks like you're already aiming to, but just reinforcing that the by chromosome pipeline is worth trying for SGE to see if it helps.

[2021-08-03 22:54] exander77 commented on #266
Is there an easy way how to switch to spark in:
`warp/pipelines/broad/dna_seq/germline/single_sample/wgs/WholeGenomeGermlineSingleSample.wdl`

I think half of the time the workflow is stuck on MarkDuplicates, I have 64 threads.

[2021-08-04 10:34] exander77 commented on #266
Also, SortSam is not using parallelism as well.

[2021-08-04 12:00] exander77 commented on #266
MarkDuplicatesSpark was even removed in commit in June this year.

[2021-08-05 21:10] exander77 commented on #349
Does it hang? I have cram creating, validation, md5, etc.

[2021-08-05 21:21] exander77 commented on #266
It is definitely a bottleneck, MarkDuplicatesSpark uses 18GB from my 64 and the load is around 1.5 out of 64 threads.

[2021-08-06 16:26] kbergin commented on #266
Hi @exander77

We removed spark mark duplicates as it was unused code, using a branch of gatk instead of a release, so that was just a small cleanup after that was pointed out in #250 .

Generally, it is cheaper to use standard mark duplicates for the average sample in the run environments we are optimized for. I'm also told it worked out cheaper not to parallelize sort sam in our optimization wor

[2021-08-06 17:23] gbggrant commented on #349
Hi @jamespeapen we are not seeing this error during our testing.  Could you give me a little bit more information about under what circumstances you are seeing this?  Are you running cromwell on prem?  And what version of cromwell is it?

Thanks.
George

[2021-08-07 00:33] exander77 commented on #266
@kbergin When I try to use the Spark, I get:
[code]
I have used that same docker as is used on SortSamSpark:
[code]

Any ideas?

[2021-08-09 15:34] jamespeapen commented on #349
I am out of office, but my colleague @kew24 can give more detailed answers. We're running it on our institution's HPC as an interactive job. I believe its cromwell 63 this was running on.

[2021-08-09 21:10] kbergin commented on #266
@exander77

I shared your error message with the GATK team and they advised the following:
1. GATK packages two jars, one with and one without spark packaged. Please confirm you are using the jar with spark.
2. Could you share the command line inputs you used for both MarkDuplicatesSpark and SortSamSpark for comparison?
3. They recommend using a newer version of GATK (latest release works) as ther

[2021-08-12 14:53] kew24 commented on #349
Hi @gbggrant — as @jamespeapen mentioned, we're running the ExomeGermlineSingleSample.wdl on our institution's HPC. We've been using Cromwell 62, and the WDL pipeline version is 2.4.5. After call-BamToCram is completed, a call-ScatterIntervalList folder is created inside of call-BamToGvcf, but the execution folder is empty. After completing all the previous steps in 7 hours, it seems to hang at th

[2021-08-18 09:44] zihhuafang opened #404 "option to set read_length in WholeGenomeGermlineSingleSample.wdl"
Is it possible to set read_length by the user as it is currently set at 250, which may not always be true depending on the generated data?

We are running the workflow on Terra.
Thanks!

[2021-08-18 16:39] jingwen opened #405 "Optimus pipeline RunEmptyDrops error (sn-rna mode)"
Hi, I ran Optimus pipeline with sn_rna mode and got an error at RunEmptyDrops step.

I checked the sparse_counts.npz, sparse_counts_row_index.npy and sparse_counts_column_index.npy. They look very similar to other scRNA-seq output. Do you know what could drive this error? Is it because of the sinlge-nucleus mode? Thanks!

[2021-08-19 17:07] diegomscoelho opened #407 "VerifyIDIntensity scores"
Hi,

I'm facing some issues with VerifyIDIntensity using [IlluminaArray](https://github.com/broadinstitute/warp/blob/develop/pipelines/broad/genotyping/illumina/IlluminaGenotypingArray.wdl) WDL.

I didn't find any reference to score numbers but I understood that (%Mix) range from 0 to 1. Anyway, my results are between 0.05 to 0.1. We have more than 500 samples with this results (multiple experimen

[2021-08-30 09:03] lipidong opened #413 "the use of licence"
https://github.com/broadinstitute/warp/blob/39b91307f31b29eb08970172e64d22390920edc0/tasks/broad/Alignment.wdl#L71

This script using the bwa command is released under the WDL source code license (BSD-3), while bwa is released under the GPL v3.

I am confused the use of license, so is this a reasonable way ?

[2021-08-31 13:09] ekiernan commented on #404
Hi! This parameter has to do with the sizing of arrays in CollectWgsMetrics.  As long as it is equal to or larger than the actual read lengths, the program will run fine.  If the actual read lengths are larger than this is set to, that can result in an exception being thrown (particularly if the actual read lengths are much longer than this value). We're working on adding this to our documentation

[2021-09-13 07:12] hmkim opened #429 "Regarding of disable_sanity_check"
Hi!

Do not implemented disable_sanity_check option  in default on  v2.3.6, right?

Related
https://github.com/broadinstitute/warp/issues/203

[2021-09-13 07:14] hmkim commented on #429
https://github.com/broadinstitute/warp/blob/cec97750e3819fd88ba382534aaede8e05ec52df/pipelines/broad/dna_seq/germline/single_sample/wgs/test_inputs/Plumbing/G96830.NA12878.json

I found it on there.

[2021-09-13 07:14] #429 closed

[2021-09-20 13:37] EugeneEA opened #438 "womtool fails on graph building"
Hi, I'm trying to build a DAG with the following comand:
java_11 -jar ~/bin/womtool-68.1.jar graph UnmappedBamToAlignedBam.wdl | dot -Tpdf  > UnmappedBamToAlignedBam.wdl.pdf
(from the warp/pipelines/broad/dna_seq/germline/single_sample/wgs)
and it fail with the error:
`Exception in thread "main" java.util.NoSuchElementException: key not found: ScatterVariableNode(WomIdentifier(LocalName(unmapped_b

[2021-09-20 14:18] kew24 opened #439 "IlluminaGenotypingArray.wdl - support for GRCh38?"
Hi,

Our lab has been using IlluminaGenotypingArray.wdl, and we were wondering if there are any plans to allow for GRCh38 in the future. We have successfully used the wdl with GRCh37, but because picard's GtcToVcf (used in IlluminaGenotypingArrayTasks.wdl) doesn't support GRCh38, we are unable to run this workflow with GRCh38. Will this be a feature in future versions of the wdl?

Thanks!

[2021-09-20 14:32] pshapiro4broad commented on #438
This sounds like a bug in `womtool graph`, I would report it at https://github.com/broadinstitute/cromwell/issues

I would try using `miniwdl` to generate a graph for your WDL. https://miniwdl.readthedocs.io/en/latest/wdlviz.html

[2021-09-27 19:04] jjfarrell opened #448 "Callset using Dragen and Allele Specific FIlter's Ti/Tv ratio"
When using the Dragen and Allele Specific Annotation pipeline, what is the expected Ts/Tv ratio for the resulting PASSed call set. Previously the Ts/Tv is expected to be near 2.15 range. Is this expected to be higher, lower or about the same?

[2021-09-30 03:14] kbergin commented on #448
Hi @jjfarrell - Are you asking regarding genomes or exomes?

[2021-09-30 03:14] #438 closed

[2021-09-30 03:21] kbergin commented on #407
@gbggrant Could you take a look at this question?

[2021-09-30 03:22] kbergin commented on #405
@kishorikonwar could you take a look at this question?

@jingwen I will mention we just recently released a new version of Optimus that you could try and see if you continue to get this error.

[2021-09-30 03:23] #342 closed

[2021-09-30 13:54] gbggrant commented on #439
Hi @kew24 we definitely want to support GRCh38.  We'll try to get this prioritized in the next quarter.  I need to look in more detail at what needs to be updated in GtcToVcf (hopefully it's minor) - but if you have interest in taking on this work (and contributing a PR to the Picard repo) we would welcome it.

Thanks.

George

[2021-09-30 14:42] jjfarrell commented on #448
Genomes

On Wed, Sep 29, 2021 at 11:14 PM Kylee Degatano ***@***.***>
wrote:

--
John Farrell, Ph.D.
Biomedical Genetics-Evans 218
Boston University Medical School
72 East Concord Street
Boston, MA

ph: 617-358-3562 (New Number)

[2021-09-30 15:06] kbergin commented on #413
Hello @lipidong -

Generally the GPL licenses are viral, ie if you bundle a GPL library into your code, your code becomes GPL too. But in the case of WDL, BWA is not truly a part of the script code and we don't distribute BWA itself, it's just an external call to a BWA executable. So the virality of the license doesn't apply.

Feel free to reopen this if you have further questions!

[2021-09-30 15:06] #413 closed

[2021-09-30 15:07] kbergin commented on #404
@zihhuafang please reopen this issue if this hasn't answered your question!

[2021-09-30 15:07] #404 closed

[2021-09-30 15:18] kbergin commented on #448
Hi @jjfarrell , here is a message from our team:

[2021-09-30 15:40] jjfarrell commented on #448
For 2000 samples, I am seeing a 2.06 Ts/Tv for the PASSED. This is lower
than I usually get with the earlier GATK versions which tends to be in the
2.15 range. This pipeline must be detecting more intergenic variants.

John

On Thu, Sep 30, 2021 at 11:24 AM Kylee Degatano ***@***.***>
wrote:

--
John Farrell, Ph.D.
Biomedical Genetics-Evans 218
Boston University Medical School
72 East Concord Stre

[2021-10-01 19:58] gbggrant commented on #407
Hi @diegomscoelho the short answer is that we don't use VerifyIDIntensity.  We found the values generated by it in single sample mode to be inaccurate.  We had some plans to use it in multi-sample mode (by generating a panel of normals to co-run with the sample to be tested) but have instead switched to [BAFRegress](https://genome.sph.umich.edu/wiki/BAFRegress) which does a far better job of estim

[2021-10-04 15:27] ldgauthier commented on #448
By earlier versions do you mean on the older GRCh37/b37 build?  Our current joint calling intervals have 150bp padding, which is really too much, and will start to include more non-coding variants.  I'm working on an updated list (there are a a few other interval issues to address as well), but that's going to be probably another month or two.

[2021-10-16 09:14] lim20120041 opened #472 "Errors while running ExomeGermlineSingleSample_v2.4.6 locally"
Dear all, I am running this ExomeGermlineSingleSample_v2.4.6 WDL workflow with Cromwell locally. I have set backend: "Local" in options.json file. It didn't work for me, I am still getting the "unrecognized runtime attribute keys". Then, I tried to add LocalExample backend config. However, I am still getting some errors as below,

1. Docker lookup failed (I downloaded all the docker images as per

[2021-10-16 13:18] mr-c commented on #271
Hello,
I'm trying to reproduce [reprocessing/exome/test_inputs/Plumbing/RP-929.NA12878.json](https://github.com/broadinstitute/warp/blob/8af8bb927a02651bbcecd18542878db856c6dee4/pipelines/broad/reprocessing/exome/test_inputs/Plumbing/RP-929.NA12878.json) locally
(as I'm trying to derive standalone test data for [CollectReadgroupBamQualityMetrics](https://github.com/broadinstitute/warp/blob/9ea4dc8

[2021-10-20 15:04] wdesouza opened #475 "GVCF files from Dragen as input for JointGenotyping workflow"
I'd like to know if the JointGenotyping workflow (v1.5.1) supports GVCF files generated by Illumina Dragen v3.8+. Is there any modification to do on variant recalibration tasks?

[2021-10-20 17:18] jessicaway commented on #7
For this particular task you could use the picard cloud docker, which contains a jar readable by all users. See the picard Dockerfile [here](https://github.com/broadinstitute/picard/blob/master/Dockerfile) to build a singularity image that corresponds to the picard cloud docker.

[2021-10-21 19:10] ldgauthier commented on #475
We've been running the JointGenotyping workflow on DRAGEN GVCFs after running them through the ReblockGVCF workflow, which modifies the GQ and QUAL, effectively turning off some of the DRAGEN-specific features by ignoring the genotype posteriors.  Initial tests ran successfully with good accuracy on NA12878, but the MQ distribution is different for the DRAGEN mapper compared with BWA.  I expect th

[2021-10-21 19:55] kbergin commented on #271
Awesome, thanks for the reminder and for making a ticket- I've prioritized this we should be able to get to it in the next month-ish. And +1 thank you for the contribution!

[2021-10-21 22:59] kbergin commented on #472
I expect that early next year we will have made some updates to the pipelines to better accommodate running on prem. We are also working with Intel to publish an inputs json specifically optimized for on prem compute (on intel), a script to modify the pipeline to extract out anything that cannot be used on prem, like the runtime attributes you mentioned, and documentation on how to use the pipelin

[2021-10-21 23:31] kbergin commented on #407
We will remove from the pipeline in the future and I think the main question in this ticket has been addressed so I will be closing. Feel free to reopen if not!

[2021-10-21 23:31] #407 closed

[2021-10-21 23:34] kbergin commented on #246
It is not a priority to add bam output support at this time. Closing for now.

[2021-10-27 14:31] michaelgatzen opened #481 "Specify Xmx and Xms values according to Cromwell's ${MEM_SIZE} and ${MEM_UNIT} variables"
As described in some JIRA issues, the use of only the `-Xms` argument to the Java commands cause crashes, especially in the HaplotypeCaller_GATK4_VCF task in GermlineVariantDiscovery.wdl. This has been fixed using in https://github.com/broadinstitute/warp/pull/197 by supplying the `-Xmx` argument as well, which should be 1 GB smaller than the available memory on the machine. The available memory o

[2021-11-18 15:33] michaelgatzen opened #512 "All MarkDuplicates tasks run out of memory after addition of Xmx flags"
Probably since the addition of the `Xmx` flags for Java tasks, all MarkDuplicates tasks run out of memory for WGS samples for me. Unfortunately, the way that they are specified, Cromwell's retry with more memory feature does not work because the value of the `Xmx` argument is only dependent on an input, not the actual (possibly increased) memory. This relates to #481.

[2021-11-18 15:50] michaelgatzen commented on #512
Note that in addition to the failing workflows, this can lead to very high costs for users. If they have the retry with more memory feature enabled, Cromwell will detect that the task runs out of memory and will increase it, but the task will keep failing because the maximum memory that Java can consume won't change. Since this increase is automatic and exponential, Cromwell will end up requesting

[2021-11-18 16:09] jonn-smith commented on #481
Can I suggest a simpler way to do this:

[code]

`/proc/meminfo` is hard-coded to be in `KB` so we can always assume that's the unit.

This will remove the switch statement, but you'll still need this boilerplate in every WDL…

[2021-11-18 16:39] droazen commented on #512
@michaelgatzen @jessicaway Isn't the fix just to make the -Xmx value relative to the total memory on the instance (eg., `instance_memory - 3 GB`), like we did recently for the HaplotypeCaller task in the DRAGEN-GATK pipeline?

[2021-11-23 21:33] michaelgatzen commented on #481
Just documenting in this thread that in last week's discussion the point was made that while Jonn's solution is great for cloud runs, it does not work when running Cromwell on a system with shared resources. Although I wonder if the docker image (and therefore the `/proc/meminfo` file) would still only ever see the memory that was made available to it, and therefore it would work? @kachulis @jessi

[2021-11-24 18:56] michaelgatzen commented on #512
@jessicaway Just letting you know, CollectRawWgsMetrics also runs out of memory for about 50% of samples for me

[2021-11-29 18:58] jessicaway commented on #512
@michaelgatzen I have changed this back for now. We will try to reintroduce the Xmx for this task and mark duplicates later (with more testing!)

[2021-12-09 15:35] michaelgatzen opened #537 "CalibrateDragstrModel tasks fail running out of disk size"
For ~50% of WGS samples the CalibrateDragstrModel task fails, reporting that there is no space left on device. In the code, not all input files are considered when calculating the required disk size, and the remaining 20 GB on top of that might not be sufficient.

[2021-12-09 16:37] michaelgatzen opened #539 "verify_bam_id Dockerfile cannot be built anymore"
When trying to build the `dockers/broad/verify_bam_id/Dockerfile` the build fails due to an error installing the required packages with the following message:
[code]

[2021-12-09 17:31] wjdingman1 commented on #539
I'll take a look at this and keep you posted, thanks!

[2021-12-10 20:00] #539 closed

[2021-12-15 19:34] michaelgatzen opened #552 "Update all GATK versions to 4.2.4.0 to fix log4j vulnerability"
This is required to mitigate CVE-2021-44228

[2021-12-15 19:38] kbergin commented on #552
Thank you, Michael, for filing this issue! We were just chatting about this in slack. We were wondering what to do about the germline WGS pipeline still being pinned to GATK3.5 for haplotype caller. Do you happen to know if the version of log4j used in that older version of GATK is effected by the vulnerability?

[2022-01-03 19:57] aofarrel commented on #552
My understanding is that 4.2.4.0 contains log4j 2.16 which is still insecure due to CVE-2021-45105, so it may be worth waiting until the GATK Docker images have been updated.

R/E the haplotype caller -- GATK3.5 (24 Nov 2015) seems likely to have used [log4j 2.4.1](https://github.com/apache/logging-log4j2/releases/tag/log4j-2.4.1) based purely on release dates, which would mean it is vulnerable. A

[2022-01-05 20:11] lbergelson commented on #552
We've released gatk 4.2.4.1 which has log4j 2.17.1 so that should be the new target instead of 4.2.4.0.

Gatk 3 used log4j 1 and never updated to 2.   I looked through the jar and there are no classes from the package `org.apache.logging.log4j` which is log4j2.  Only `org.apache.log4j` which is log4j1.

I wouldn't say that being so out of date that it doesn't suffer from newer bugs means it's secu

[2022-01-12 18:28] gbggrant commented on #512
We think this is all set, with appropriate follow-up tickets created.

[2022-01-12 18:28] #512 closed

[2022-01-12 18:31] gbggrant commented on #472
@kbergin do you want to keep this issue open until the work is done?

[2022-01-12 18:33] gbggrant commented on #448
@jjfarrell do you have the information you need to proceed?

[2022-01-12 18:34] gbggrant commented on #439
Closing for now, as a ticket for this has been made. Waiting to prioritize the work.

[2022-01-12 18:34] #439 closed

[2022-01-12 18:36] gbggrant commented on #405
Hi @jingwen - we believe this is a known issue with samples with low read counts. We are working on a way to bypass those samples in the pipeline.

[2022-01-12 18:39] gbggrant commented on #305
Hi @ekiernan have the example inputs been cleaned up / clarified?

[2022-01-12 19:17] kbergin commented on #472
We are still working on some of these changes, slow moving alongside other priorities. @lim20120041 I will write on our ticket for this to notify you when it's done, but we can close this one for now.

[2022-01-12 19:17] #472 closed

[2022-01-21 18:21] #537 closed

[2022-02-09 19:08] gbggrant commented on #475
@wdesouza I'm going to close this issue as it sounds like you have the initial information you need to proceed. Please open another issue if you have any problems.

[2022-02-09 19:08] #475 closed

[2022-02-09 19:10] gbggrant commented on #448
Closing this issue due to lack of activity. @jjfarrell please open a new issue if you require more help.

[2022-02-09 19:10] #448 closed

[2022-02-09 19:12] gbggrant commented on #405
@jingwen a fix for this should be implemented in the pipeline at this point. I'm going to close this issue, please feel free top open a new one if you have further problems.

[2022-02-09 19:12] #405 closed

[2022-02-09 19:13] gbggrant commented on #341
@kbergin do we have a ticket for this in the backlog? If so can we close out this issue?

[2022-02-09 19:22] gbggrant commented on #271
The work described in this issue have been represented in a Jira ticket. Closing this issue accordingly.

[2022-02-10 09:18] mr-c commented on #271
@gbggrant is this project no longer using GitHub Issues? Is your Jira public?

[2022-02-10 22:07] kbergin commented on #341
GL-1609. But I usually leave the issues open and just label as 'ticket-made' since our backlog isn't public.

[2022-02-10 22:13] kbergin commented on #271
We use github issues for the public, our organization requires we use our private jira for team backlog management. Let's leave keep this open.

I'm sorry the PR has lost steam, iirc correctly part of the issue was that the public files that were pointed to in the PR weren't the same test data, but I can't recall for sure.

[2022-05-09 20:38] kbergin commented on #552
This is complete!

[2022-07-08 16:59] ekiernan commented on #305
We've added additional clarification about the fingerprint files: https://broadinstitute.github.io/warp/docs/Pipelines/Whole_Genome_Germline_Single_Sample_Pipeline/README.

[2022-07-08 16:59] #305 closed

[2022-07-14 13:16] samuelklee opened #767 "Check for an empty file in JointGenotypingByChromosomePartOne.wdl needs to be updated."
https://github.com/broadinstitute/warp/blob/baf72dd4adb34c38cf12e818ec4abd7ecce5d105/pipelines/broad/dna_seq/germline/joint_genotyping/by_chromosome/JointGenotypingByChromosomePartOne.wdl#L209

@snovod encountered an issue (in https://broadinstitute.atlassian.net/browse/PO-48542?atlOrigin=eyJpIjoiYTYxOGYyNjhiYWI1NGJlZTliZWRhNTE4NmUxZjFlOGUiLCJwIjoiaiJ9 ) with this condition check, which does not a

[2022-07-18 18:41] BioNica opened #772 "Container for DropletUtils using 'root' folder as PATH for scripts"
Dear developers,

we are trying to run Optimus locally on a shared environment (HPC, non-root user)
In this environment we use **Singularity** instead of Docker to run the containers.
For most containers called by the Optimus pipeline, the local images are working fine.
We just were not able to port the DropletUtils container called by RunEmptyDrops.wdl

The reason appears to be the placement of t

[2022-07-27 19:21] EugeneEA opened #782 "ImportGVCFs call of JointGenotyping.wdl does not have an access to input gvcfs"
Hi, I'm struggling to launch JointGenotyping.wdl (on a local server with slurm backend), constantly having an error
`A USER ERROR has occurred: Failed to create reader from file:///cromwell-executions/JointGenotyping/373a1fd9-f69c-4a0c-9bec-c656aa066295/call-ImportGVCFs/shard-6/execution/NNR00008092.15628.g.vcf.gz`

Which I think is understandable - because in the workflow we are passing `File sam

[2022-07-27 20:40] EugeneEA commented on #782
PS - I fixed it by changing `--sample-name-map ~{sample_name_map} \` to `-V ~{sep=" -V " gvcfs} \`
and passing     `Array[File] gvcfs` and `Array[File] gvcfs_idx` to `ImportGVCFs`. But I honestly do not understand how the original code could possibly works

[2022-07-28 06:03] EugeneEA opened #783 "JointGenotypingTasks.wdl File to String coercion produce an error"
task `GenotypeGVCFs` in file  JointGenotypingTasks.wdl has an input `String dbsnp_vcf` but it should be a `File dbsnp_vcf` as correctly declared in inputs of workflow JointGenotyping.wdl. Coercion of file to string produces an obviouse error as far as correct file does not hardlinked to  the mounted docker container

Best, Eugene

[2022-08-03 22:29] moe1619 opened #788 "difficulty executing ExomeGermlineSingleSample.wdl"
Hello, I'm having a little trouble executing the ExomeGermlineSingleSample.wdl on a local cluster. The following happens whether I use my json or the test json. Thank you! Output below...

[code]

[2022-08-04 13:11] moe1619 commented on #788
Whoops! updated java and Cromwell and now getting past this error. Will re-post a new issue if I continue to have problems. Thanks!

[2022-08-04 13:11] #788 closed

[2022-08-16 17:18] kalong2 opened #798 "Test files still inaccessible"
I am trying to utilize the Whole Genome Germline Single Sample pipeline, so I am first trying the test files provided with package.

As posted in another thread in 2021, the test files are inaccessible. They are unable to access files that are supposed to be under "broad-gotc-test-storage".

I would really appreciate any help with this.

[2022-08-30 19:56] williambrandler opened #809 "latest ultima genomics gatk jar file"
Hi, how do I get access to the latest ultima genomics specific gatk jar file?

[2022-09-08 15:06] jessicaway commented on #809
@meganshand  are you able to help @williambrandler with this request?

[2022-09-08 15:16] jessicaway commented on #798
Hi @kalong2, apologies for the slow reply. This is something we are working in, hopefully we will have an update on progress soon!

[2022-09-08 15:39] jessicaway commented on #782
Hi @EugeneEA thanks for bringing this issue to our attention. We do not currently support OnPrem implementations of our pipelines (unfortunately). This is useful insight though.

I am closing this issue for now, since you were able to resolve the problem

[2022-09-08 15:39] #782 closed

[2022-09-09 13:03] meganshand commented on #809
Sorry for the delayed response @williambrandler. We haven't yet released the Ultima Genomics specific version of GATK, although this should be coming in the next few weeks. In the meantime, the master version of GATK includes all of the Ultima specific changes. You can either build GATK from the source code here: [github.com/broadinstitute/gatk](https://github.com/broadinstitute/gatk) or I believe

[2022-09-09 18:22] williambrandler commented on #809
ah great, thanks @meganshand

please comment again on this thread when the ultima enabled version of the gatk is released!

For now please send the built jar to me over email (you have my contact details!)

Thanks,

William

[2022-10-09 05:08] zhaohongqiangsoliva opened #839 "docker images can not pulling"
I am installing ExomeGermlineSingleSample pipeline because for some reason I can't access us.gcr.io/broad-gotc-prod . Is there another image I can use directly?
For example, use broadinstitute/genomes-in-the-cloud to replace us.gcr.io/broad-gotc-prod in all wdl files

[2022-10-11 11:56] jessicaway commented on #839
Hi @zhaohongqiangsoliva,
We do not recommend replacing any of the images with the old genomes-in-the-cloud image. Which docker image are you running into permissions issues for? All of the images in this pipeline are intended to be public.

[2022-10-13 15:36] meganshand commented on #809
The latest release of GATK includes Ultima support: https://github.com/broadinstitute/gatk/releases/tag/4.3.0.0

[2022-10-13 15:36] #809 closed

[2022-10-14 14:31] kachulis opened #842 "rnaseqc undefined behavior for bias metrics in tests."
There is a bug in rnaseqc which can lead to undefined behavior when calculating bias metrics for highly downsampled data (such as our test data).  When only 1 gene is used in the bias calculations, it reads data passed the end of vector, which leads to non deterministic results, which cause tests to fail when not call caching.  This is not particularly worrisome for production because  this bug on

[2022-10-14 18:17] kachulis commented on #842
see for example smart test failures on 51b10cf34e82219a2735d7f3596ab2d71ccd36d2

[2022-10-17 08:22] zhaohongqiangsoliva commented on #839
Oh I can't access google gcr because of network, but I can access docker hub so I'm looking for an alternative to gcr

[2022-10-28 09:14] opavon opened #850 "Optimus pipeline unexpected behaviour for SplitFastq"
Hi all,

We’ve encountered some strange behaviour from the FastqProcessing (alias SplitFastq) step in the Optimus pipeline (v5.4.3) and I was hoping to get help clarifying what is happening. The [documentation ](https://broadinstitute.github.io/warp/docs/Pipelines/Optimus_Pipeline/README/#optimus-tasks-and-tools) describes this step as being skipped if the files are smaller than 30GB, but that doe

[2022-10-31 14:36] khajoue2 commented on #850
Hi Oriel,
The version of Optimus you are using does not skip the splitting step. We are going to release a new version in this PR:https://github.com/broadinstitute/warp/pull/664 that will skip the step. This step investigates each read1 and writes all reads associated with the same cell barcode in the same file split. In addition, it also pre-filters all the cellbarcodes and removes the reads that

[2022-11-03 10:38] opavon commented on #850
Thank you for the clarification. Is there a planned release date for this new version? And would it be possible to update the current documentation ([link](https://broadinstitute.github.io/warp/docs/Pipelines/Optimus_Pipeline/README/#optimus-tasks-and-tools)) accordingly? This step also seems to be trimming read1 to the expected length for a given chemistry (e.g. down to 26bp for 10x_v2 with UMI l

[2022-11-03 15:31] nikellepetrillo commented on #850
Hi Oriol,
We do not have planned release date for this fix yet. We have an [open PR](https://github.com/broadinstitute/warp/pull/664) that we are actively working on. Once we merge to dev there will be a pre-release tag that you can use.

The fastq outputs after splitting only retain cell barcodes and UMIs extracted from each read in the intermediate files that get passed to the STAR aligner. We a

[2022-11-03 15:50] nikellepetrillo commented on #842
Hi Chris,

Is removing rnaseqc really an option? Would we need to replace it with something else?

-Nikelle

[2022-11-04 13:48] ekiernan commented on #850
Hi Oriol,

Yes, we will update the documentation to reflect the correct version. Sorry about the confusion.

[2022-11-04 17:00] opavon commented on #850
Great, thank you all for your help and clarifications!

[2022-11-04 17:00] #850 closed

[2022-11-07 12:59] jessicaway commented on #839
Hi @zhaohongqiangsoliva,

We unfortunately do not have our docker files on Docker Hub. We are currently thinking about alternatives to GCR, but in the meantime, all our docker files and build scripts are available in Warp. For example, here are there the files for the samtools-picard-bwa docker: https://github.com/broadinstitute/warp/tree/develop/dockers/broad/samtools_picard_bwa. You should be ab

[2022-11-10 07:36] zhaohongqiangsoliva commented on #839
Thank you very much, this method is very useful

[2022-11-10 07:36] #839 closed

[2022-11-23 06:29] vladsavelyev opened #871 "Reference FASTA choice for DRAGMAP `MergeBamAlignment`"
I wonder if it is chosen deliberately to pass the non-masked reference FASTA into `MergeBamAlignment` for DRAGMAP alignments:

`gs://gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.fasta`

Instead of passing the one from `dragmap_reference`:

`gs://gcp-public-data--broad-references/hg38/v0/dragen_reference/Homo_sapiens_assembly38_masked.fasta`

https://github.com/broadinstitute/w

[2022-11-24 07:56] pigraul opened #875 "Remove duplicates in smart-seq2?"
Hi,

I found out that there is a removing duplicate reads step in the [Smart-seq2 Single Nucleus Multi-Sample workflow](https://broadinstitute.github.io/warp/docs/Pipelines/Smart-seq2_Single_Nucleus_Multi_Sample_Pipeline/README)， but not in [Smart-seq2 Single Sample workflow](https://broadinstitute.github.io/warp/docs/Pipelines/Smart-seq2_Single_Sample_Pipeline/README/).  Why smart-seq2 does not n

[2022-11-28 20:51] lgruen commented on #871
@michaelgatzen Do you remember the rationale for this (as this was added in #197)? Was this approach chosen to increase the compatibility for downstream processes?

[2022-11-28 22:18] michaelgatzen commented on #871
The idea is that you can run the entire pipeline with the masked reference, i.e. pass the masked versions of the files to the `reference_fasta` input to the workspace, not just to the `dragmap_reference`. This will avoid any incompatibilities within the pipeline itself, but @lgruen is right, this might require a re-header in case any downstream tasks require exact matching of the md5 sums.

[2022-11-30 19:48] ekiernan commented on #875
Hi @pigraul,

Thanks for the question. @khajoue2 may have more insight, but the short answer is that we had to remove duplicates for the single nucleus approach for intron counting purposes and to validate the pipeline (the pipeline was being validated against very specific data from the Allen Institute).

In contrast to the single-nucleus pipeline which uses featureCounts, the SS2 single sample p